@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

header{
    background-color: #FFF4E7;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.navbar h3{
    font-size: 3rem; 
    font-weight: 700;
}
.banner-info{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.orange-button{
    background-color: #FF900E;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
}
.banner-info h1{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-info p{
    font-size: 1rem;
    color: #727272;
    line-height: 1.625rem;
    padding-bottom: 32px;
}

.banner-image{
    width: 100%;
    margin-bottom: 45px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    display: flex;
    align-items: center;
    gap: 73px;
}
.team-images{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* -- top margin here -- */
main .teams, main .facts, main .sponsors, main .features{
    margin-top: 130px;
}
.team-info h3{
    font-size: 2.8125rem;
    color: #131313;
    margin-bottom: 16px;
}

.Quick-list{
    color:#727272;
}
.of-our{
    color:#131313;
}
.features-text{
    color:#FF900E;
}
.team-info p{
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}
.facts{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.fact-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.fact-card{
    text-align: center;
    padding: 40px 20px;
    border:#FF900E 1px solid;
    border-radius: 8px;
    max-width: 242px;
}
.facts-info h3{
    font-size: 2.8125rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 24px;
}
.facts-info p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}
.facts-info{
    max-width: 542px;
    margin-bottom: 100px;
}
.fact-card h4{
    font-size: 2.8125rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-card h5{
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
    margin-top: 0px;
}
.sponsors{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sponsors-info h3{
    font-size: 2.8125rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsors-info p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 50px;
    max-width: 542px;
}

.sponsors-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:155px;
    align-items: center;
}
.sponsors-images img{
    filter: grayscale(100%);
}
.features{
    display: flex;
    gap: 54px;
    max-width: 1440px;
    margin: 0 auto;
}
.features-info h3{
    font-size: 2.8125rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features-info p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
}
.feature-card{
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-card h4{
    font-size: 1.25rem;
    color: #131313;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-card p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}

.features-info{
    max-width: 586px;
    margin: 0 auto;
}
@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-cards{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .fact-card{
        width:100%;
    }
    .sponsors-images{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .team-images{
        grid-template-columns: repeat(2, 1fr);
    }
    .teams{
        flex-direction: column;
    }
    .sponsors-images{
        grid-template-columns: repeat(2, 1fr);
    }
}
